USE [master]
GO
/****** Object:  Database [MufteevShoeDB]    Script Date: 21.09.2026 16:58:52 ******/
CREATE DATABASE [MufteevShoeDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MufteevShoeDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MufteevShoeDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MufteevShoeDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MufteevShoeDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MufteevShoeDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MufteevShoeDB]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 21.09.2026 16:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[manufacturers]    Script Date: 21.09.2026 16:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[manufacturers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[manufacturer_name] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_details]    Script Date: 21.09.2026 16:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_details](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[product_item_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 21.09.2026 16:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_date] [date] NOT NULL,
	[user_id] [int] NOT NULL,
	[total_sum] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK__orders__3213E83FC393E2A3] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 21.09.2026 16:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NOT NULL,
	[subcategory_id] [int] NOT NULL,
	[manufacturer_id] [int] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[image_url] [nvarchar](100) NOT NULL,
	[description] [nvarchar](500) NOT NULL,
	[composition] [nvarchar](500) NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK__products__3213E83FCB7A116E] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 21.09.2026 16:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_roles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sizes]    Script Date: 21.09.2026 16:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sizes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[size_value] [decimal](3, 1) NOT NULL,
 CONSTRAINT [PK__sizes__3213E83F4CF00CE3] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stock_items]    Script Date: 21.09.2026 16:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stock_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[size_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[subcategories]    Script Date: 21.09.2026 16:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subcategories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[subcategory_name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 21.09.2026 16:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[last_name] [nvarchar](100) NOT NULL,
	[first_name] [nvarchar](100) NOT NULL,
	[patronymic] [nvarchar](100) NULL,
	[login] [nvarchar](50) NOT NULL,
	[role_id] [int] NOT NULL,
 CONSTRAINT [PK__users__3213E83F36B2A8FE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([id], [category_name]) VALUES (1, N'Детская обувь')
INSERT [dbo].[categories] ([id], [category_name]) VALUES (2, N'Женская обувь')
INSERT [dbo].[categories] ([id], [category_name]) VALUES (3, N'Мужская обувь')
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[manufacturers] ON 

INSERT [dbo].[manufacturers] ([id], [manufacturer_name]) VALUES (15, N'Азимут')
INSERT [dbo].[manufacturers] ([id], [manufacturer_name]) VALUES (10, N'Барбари')
INSERT [dbo].[manufacturers] ([id], [manufacturer_name]) VALUES (16, N'Берестов')
SET IDENTITY_INSERT [dbo].[manufacturers] OFF
GO
SET IDENTITY_INSERT [dbo].[order_details] ON 

INSERT [dbo].[order_details] ([id], [order_id], [product_item_id], [quantity]) VALUES (1, 1, 1, 1)
INSERT [dbo].[order_details] ([id], [order_id], [product_item_id], [quantity]) VALUES (2, 1, 20, 1)
INSERT [dbo].[order_details] ([id], [order_id], [product_item_id], [quantity]) VALUES (3, 2, 30, 1)
SET IDENTITY_INSERT [dbo].[order_details] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([id], [order_date], [user_id], [total_sum]) VALUES (1, CAST(N'2026-04-02' AS Date), 3, CAST(4980.00 AS Decimal(10, 2)))
INSERT [dbo].[orders] ([id], [order_date], [user_id], [total_sum]) VALUES (2, CAST(N'2026-04-05' AS Date), 17, CAST(32500.00 AS Decimal(10, 2)))
INSERT [dbo].[orders] ([id], [order_date], [user_id], [total_sum]) VALUES (3, CAST(N'2026-04-08' AS Date), 7, CAST(33360.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([id], [category_id], [subcategory_id], [manufacturer_id], [title], [image_url], [description], [composition], [price]) VALUES (1, 1, 1, 1, N'Кроссовки детские «Звёздочка» экокожа', N'IMG_KS_195217.png', N'Кроссовки детские «Звёздочка» экокожа. Производитель: ООО «Малыш-Спорт», г. Смоленск', N'Верх — экокожа (полиуретан на хлопковой основе), подкладка — хлопок 100%, подошва — ПВХ', CAST(2190.00 AS Decimal(10, 2)))
INSERT [dbo].[products] ([id], [category_id], [subcategory_id], [manufacturer_id], [title], [image_url], [description], [composition], [price]) VALUES (2, 1, 1, 2, N'Кроссовки детские «Гонщик» экокожа', N'IMG_KS_195213.png', N'Кроссовки детские «Гонщик» экокожа. Производитель: Фабрика «Топ-Топ», г. Киров', N'Верх — экокожа (микрофибра), подкладка — текстиль сетчатый (полиэстер), подошва — термопластичная резина (ТЭП)', CAST(2490.00 AS Decimal(10, 2)))
INSERT [dbo].[products] ([id], [category_id], [subcategory_id], [manufacturer_id], [title], [image_url], [description], [composition], [price]) VALUES (3, 1, 1, 3, N'Кроссовки детские «Радуга» экокожа перфорированная', N'IMG_KS_195222.png', N'Кроссовки детские «Радуга» экокожа перфорированная. Производитель: ИП Смирнова Л.В. (бренд «Лапушка»), г. Вологда', N'Верх — экокожа перфорированная, вставки — нейлон, стелька — ортопедическая с латексной подушкой, подошва — ЭВА', CAST(1990.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id], [role_name]) VALUES (1, N'Администратор')
INSERT [dbo].[roles] ([id], [role_name]) VALUES (2, N'
Менеджер
')
INSERT [dbo].[roles] ([id], [role_name]) VALUES (3, N'Авторизованный пользователь
')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[sizes] ON 

INSERT [dbo].[sizes] ([id], [size_value]) VALUES (1, CAST(18.0 AS Decimal(3, 1)))
INSERT [dbo].[sizes] ([id], [size_value]) VALUES (2, CAST(19.0 AS Decimal(3, 1)))
INSERT [dbo].[sizes] ([id], [size_value]) VALUES (3, CAST(20.0 AS Decimal(3, 1)))
SET IDENTITY_INSERT [dbo].[sizes] OFF
GO
SET IDENTITY_INSERT [dbo].[stock_items] ON 

INSERT [dbo].[stock_items] ([id], [product_id], [size_id], [quantity]) VALUES (1, 1, 3, 20)
INSERT [dbo].[stock_items] ([id], [product_id], [size_id], [quantity]) VALUES (2, 1, 4, 20)
INSERT [dbo].[stock_items] ([id], [product_id], [size_id], [quantity]) VALUES (3, 1, 5, 20)
SET IDENTITY_INSERT [dbo].[stock_items] OFF
GO
SET IDENTITY_INSERT [dbo].[subcategories] ON 

INSERT [dbo].[subcategories] ([id], [subcategory_name]) VALUES (3, N'Босоножки')
INSERT [dbo].[subcategories] ([id], [subcategory_name]) VALUES (5, N'Ботинки')
INSERT [dbo].[subcategories] ([id], [subcategory_name]) VALUES (1, N'Кроссовки')
SET IDENTITY_INSERT [dbo].[subcategories] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [last_name], [first_name], [patronymic], [login], [role_id]) VALUES (1, N'Иванов', N'Иван', N'Сергеевич', N'isivanov', 1)
INSERT [dbo].[users] ([id], [last_name], [first_name], [patronymic], [login], [role_id]) VALUES (2, N'Петров', N'Пётр', N'Алексеевич', N'papetrov', 2)
INSERT [dbo].[users] ([id], [last_name], [first_name], [patronymic], [login], [role_id]) VALUES (3, N'Сидорова', N'Анна', N'Дмитриевна', N'asidorova', 3)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__categori__5189E2556A4163C1]    Script Date: 21.09.2026 16:58:52 ******/
ALTER TABLE [dbo].[categories] ADD UNIQUE NONCLUSTERED 
(
	[category_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__manufact__44800B7CE7979E8B]    Script Date: 21.09.2026 16:58:52 ******/
ALTER TABLE [dbo].[manufacturers] ADD UNIQUE NONCLUSTERED 
(
	[manufacturer_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__sizes__2400227F82F40A5B]    Script Date: 21.09.2026 16:58:52 ******/
ALTER TABLE [dbo].[sizes] ADD  CONSTRAINT [UQ__sizes__2400227F82F40A5B] UNIQUE NONCLUSTERED 
(
	[size_value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ_product_size]    Script Date: 21.09.2026 16:58:52 ******/
ALTER TABLE [dbo].[stock_items] ADD  CONSTRAINT [UQ_product_size] UNIQUE NONCLUSTERED 
(
	[product_id] ASC,
	[size_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__subcateg__5B737073EF98036F]    Script Date: 21.09.2026 16:58:52 ******/
ALTER TABLE [dbo].[subcategories] ADD UNIQUE NONCLUSTERED 
(
	[subcategory_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__7838F272AF718E58]    Script Date: 21.09.2026 16:58:52 ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UQ__users__7838F272AF718E58] UNIQUE NONCLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[order_details] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[stock_items] ADD  DEFAULT ((0)) FOR [quantity]
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD  CONSTRAINT [FK_order_details_orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [FK_order_details_orders]
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD  CONSTRAINT [FK_order_details_product_items] FOREIGN KEY([product_item_id])
REFERENCES [dbo].[stock_items] ([id])
GO
ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [FK_order_details_product_items]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_users]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_categories] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_categories]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_manufacturers] FOREIGN KEY([manufacturer_id])
REFERENCES [dbo].[manufacturers] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_manufacturers]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_subcategories] FOREIGN KEY([subcategory_id])
REFERENCES [dbo].[subcategories] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_subcategories]
GO
ALTER TABLE [dbo].[stock_items]  WITH CHECK ADD  CONSTRAINT [FK_stock_items_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[stock_items] CHECK CONSTRAINT [FK_stock_items_products]
GO
ALTER TABLE [dbo].[stock_items]  WITH CHECK ADD  CONSTRAINT [FK_stock_items_sizes] FOREIGN KEY([size_id])
REFERENCES [dbo].[sizes] ([id])
GO
ALTER TABLE [dbo].[stock_items] CHECK CONSTRAINT [FK_stock_items_sizes]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_roles]
GO
USE [master]
GO
